#click{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.card-product-home{
    border-top: 1px solid rgba(0,0,0,.125);
    border-left: 1px solid rgba(0,0,0,.125);
    border-right: 1px solid rgba(0,0,0,.125);
}
.dropdown-item-product-type li:hover{
    cursor: pointer;
    color: #F4882F;
}
.option-product{
    text-decoration: none;
    color: #000;
    height: 2rem !important;
    align-items: center;
    display: flex;
    padding: 0px 10px;
    background-color: #ffffff !important;
}
.option-product li{
    color: #000;
    height: 100% !important;
    width: 100%;
    align-items: center;
    display: flex;
}
.option-product a li:hover{
    background-color: rgb(255, 160, 60);
    color: white;
    cursor: pointer;
    width: 100%; /* Đảm bảo hình ảnh chiếm toàn bộ không gian trong phần tử cha */
    height: 100%; /* Đảm bảo hình ảnh chiếm toàn bộ không gian trong phần tử cha */
    object-fit: cover;
    display: flex;
    align-items: center;
}
.ratings{
        color:#F4882F;
}
.ratings:hover{
    color:#000;
}
.detail-link:hover div{
    /*background-color: black;*/
}
.detail-link div p {
    display: none;
}
.detail-link:hover div p{
    display: block;
    color: white;
    position: absolute;
    bottom: -12px;
    margin: 0;
    transform: translate(-50%, -50%);
    left: 50%;
    font-weight: bold;
    background-color: #F4882F;
    justify-content: center;
}
.detail-link div #out-of-stock{
    display: block;
    color: white;
    position: absolute;
    bottom: -12px;
    margin: 0;
    transform: translate(-50%, -50%);
    left: 50%;
    font-weight: bold;
    background-color: #F4882F;
    justify-content: center;
}
.detail-link:hover img{
    /*opacity: 60%;*/
}
.cancel-search{
    position: absolute;
    top: 50%;
    right: 4rem;
    transform: translate(0px, -50%);
    opacity: 0.5;
}
.cancel-search:hover{
    color: black;
    opacity: 100%;
    cursor: pointer;
}
.activePagination{
    /*border: 1px solid #F4882F;*/
    width: 3rem;
    color: #ffffff;
    text-align: center;
    justify-content: center;
    display: flex;
    border-radius: 5px;
    background-color: #F4882F;
    margin: 0 1px;
}
.pagination{
    border: 1px solid #F4882F;
    width: 3rem;
    color: black;
    text-align: center;
    justify-content: center;
    display: flex;
    border-radius: 5px;
    margin: 0 1px;
}
.pagination:hover{
    color: #ffffff;
    background-color: #F4882F;

}